# app
NEXT_PUBLIC_APP_NAME="Budget Ndio Story"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_URL="https://budgetndiostory.org"
NEXT_PUBLIC_API_BASE_URL="http://127.0.0.1:8000"

# tasks api (django)
TASKS_API_URL="http://127.0.0.1:8000/api/roadmap/"
TASKS_API_UPDATE_URL="http://127.0.0.1:8000/api/roadmap/{id}/"
TASKS_API_TOKEN=""

# django admin auth
DJANGO_AUTH_LOGIN_URL="http://127.0.0.1:8000/api/auth/login/"
DJANGO_AUTH_REGISTER_URL="http://127.0.0.1:8000/api/auth/register/"
DJANGO_AUTH_LOGOUT_URL="http://127.0.0.1:8000/api/auth/logout/"
DJANGO_AUTH_REFRESH_URL="http://127.0.0.1:8000/api/auth/refresh/"
DJANGO_AUTH_PROFILE_URL="http://127.0.0.1:8000/api/auth/profile/"
DJANGO_ADMIN_MODELS_URL="http://127.0.0.1:8000/api/admin/models/"
